################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/*
/Infrabot.Common/bin/*
/Infrabot.Common/obj/*
/Infrabot.PluginEditor/bin/*
/Infrabot.PluginEditor/obj/*
/Infrabot.PluginSystem/bin/*
/Infrabot.PluginSystem/obj/*
/Infrabot.PluginSystem.Test/bin/*
/Infrabot.PluginSystem.Test/obj/*
/Infrabot.TelegramService/bin/*
/Infrabot.TelegramService/obj/*
/Infrabot.TelegramService/logs/*
/Infrabot.WebUI/bin/*
/Infrabot.WebUI/obj/*
/Infrabot.WebUI/logs/*
/Infrabot.WebUI.Test/bin/*
/Infrabot.WebUI.Test/obj/*
/Infrabot.WorkerService/bin/*
/Infrabot.WorkerService/obj/*
/Infrabot.WorkerService/logs/*

