@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/error404.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>
</head>
<body>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-text">Oops! The page you are looking for does not exist.</div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-home">Go Back Home</a>
    </div>
</body>
</html>
