@model Infrabot.Common.Models.User
@{
    ViewData["Title"] = "Change password";
}

<div class="row mb-2 mt-3">
    <div class="col">
        <p class="fs-2 pt-0 mb-0">Change password</p>
        <p class="blog-post-meta mt-1 text-muted">Change current password</p>
    </div>
</div>

<div class="row g-3">
    <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="" asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()

            <div class="row g-3">
                <div class="col-12">
                    <label for="oldpassword" class="form-label">Old password</label>
                    <input type="password" class="form-control" id="oldpassword" placeholder="" required="" name="OldPassword">
                    <div class="invalid-feedback">
                        Please provide old password.
                    </div>
                </div>

                <div class="col-12">
                    <label for="newpassword" class="form-label">New password</label>
                    <input type="password" class="form-control" id="newpassword" placeholder="" required="" name="NewPassword">
                    <div class="invalid-feedback">
                        Please provide new password.
                    </div>
                </div>

                <div class="col-12">
                    <label for="repeatpassword" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeatpassword" placeholder="" required="" name="RepeatPassword">
                    <div class="invalid-feedback">
                        Please repeat new password.
                    </div>
                </div>

                <input type="text" class="d-none" asp-for="Login">
                <input type="number" class="d-none" asp-for="Id">
            </div>

            @if (ViewBag.OldPasswordIsIncorrect != null)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    Old password is incorrect.
                </div>
            }
            @if (ViewBag.NewPasswordNotEqualToRepeat != null)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    New password is not equal with repeat.
                </div>
            }
            @if (ViewBag.DoesNotMeetComplexityRequirements != null)
            {
                <div class="alert alert-danger mt-2" role="alert">
                    Password does not meet complexity requirements.
                </div>
            }
            @if (ViewBag.SucessfullyChanged != null)
            {
                <div class="alert alert-success mt-2" role="alert">
                    Password has been successfully changed.
                </div>
            }

            <br>

            <button class="btn btn-orange" type="submit">Change</button>
        </form>
    </div>
</div>

<br>
<br>
